/* 글꼴 */
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

/* 전체 */
* {
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

/* section, div {
    border: 1px solid black;
} */

body {
    margin: 0px;
    padding: 0px;
}

body > section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* 헤더 */
#header {
    flex-basis: 10%;
}

/* 내용 */
#content {
    flex-basis: 70%;
    display: flex;
}

/* 왼쪽 여백 */
#left-gap {
    flex-basis: 20%;
}

/* 비밀번호 찾기 영역 */
#findPw-section {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    background-color: #FEE4D6;
    border-radius: 5px;
    align-items: center;
    margin: 100px 580px;
    padding: 50px;
}

/* 로고 영역 */
#logo-section {
    flex-basis: 20%;
}

#logo {
    width: 110px;
    height: 90px;
}

/* 비밀번호 찾기 설명 영역 */
#findPwInfo-section {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

#title {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

#info {
    font-size: 11.5px;
    padding: 15px 0px;
}

/* 비밀번호 찾기 form 영역 */
#form-section {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin-top: 15px;
}

#id {
    width: 330px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 15px 0px;
    padding-left: 10px;
}

#email {
    width: 330px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 15px 0px;
    padding-left: 10px;
}

/* 이메일 인증하기 버튼 */
#emailAuth-btn {
    width: 330px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin: 20px 0px;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
}

#emailAuth-btn:hover {
    cursor: pointer;
}

/* 오른쪽 여백 */
#right-gap {
    flex-basis: 20%;
}

/* 오른쪽 하단 후원, 챗봇 아이콘 */
.fixed-image {
    position: fixed;
    right: 10px;
    z-index: 100;
    width: 50px;
}

.fixed-image:hover {
    cursor: pointer;
}

#chat-image {
    bottom: 10px;
}

#donate-image {
    bottom: 70px;
}

/* 풋터 */
#footer {
    flex-basis: 20%;
}